<!--extends layout page-->
{% extends 'company/base.html' %}
<!--varible title to show on base.html-->
{% load static%} {% block title%} Login {% endblock title%} {%block content%}
<div class="text-center">
  {% if message%}
  <div class="alert alert-danger" role="alert">ไม่พบ Email ในระบบ</div>
  {%endif%}
  <h1>Reset Password</h1>
  <form method="POST">
    <!-- This is secure token for submiting form in Django -->
    {%csrf_token%}
    <div class="form-group">
      <input
        type="text"
        class="form-control w-50 d-inline"
        id="username"
        placeholder="Enter Your Email"
        name="username"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-3">รีเซ็ตรหัสผ่าน</button>
  </form>
</div>
{%endblock content%}
