<!--extends layout page-->
{% extends 'company/base.html' %}
<!--varible title to show on base.html-->
{% load static%} {% block title%} Login {% endblock title%} {%block content%}
<div class="text-center">
  {% if message%}
  <div class="alert alert-danger" role="alert">ไม่พบ Email ในระบบ</div>
  {%endif%}
  <h1>ตั้งค่ารหัสผ่านใหม่</h1>
  {%if error%} {{error}} {%else%}
  <form method="POST">
    {%csrf_token%} 
    <div class="form-group">
      รหัสผ่าน
      <input
        type="password"
        class="form-control w-50 d-inline"
        id="password"
        placeholder="Enter Your Email"
        name="password"
      />
      <br />
      <br />
      ยืนยันรหัสผ่าน
      <input
        type="password"
        class="form-control w-50 d-inline"
        id="password"
        placeholder="Enter Your Email"
        name="password2"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-3">รีเซ็ตรหัสผ่าน</button>
  </form>
  {%endif%}
</div>
{%endblock content%}
